nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
ul {
    display: inline-flex;
    list-style: none;
}

li {
    text-align: center;
    padding: 10px;
    justify-content: center;
}
a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}

.navbar li:hover {
    color: #495E57;
}

.navbar li.active {
    color: #F4CE14;
}